.database_container{
  
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: calc(100vw + -300px);
    flex-grow: 0;
    overflow-x: scroll;
    position: relative;
    
  }

  .database_container::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
  }

  .database_container::-webkit-scrollbar-track{
    background-color: #DCEAF9;
  }

  .database_container::-webkit-scrollbar-thumb{
    background-color: #5199E1;
    height: 50px;
  }

  .database_header{
    background-color: #96C0ED;
    height: 60px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:max-content;
    top: 0;
    position: sticky;
  
  }

  .database_header >p{
    margin: 0%;
    font-size: 16px;
    font-weight: 600;
    color: #F4F4F8;
    text-align: center;
    padding: 0px 20px;

  }

  .database_separator{
    height: 20px;
    min-width: 2px;
    background-color:  #F4F4F8;
  }

  .database_separator_even{
    height: 20px;
    min-width: 2px;
    background-color:  #DCEAF9;
  }

  .user_data_odd{
    background-color:  #F4F4F8;
    min-height: 40px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:max-content
   
  }

  .user_data_odd >p{
    margin: 0%;
    font-size: 14px;
    font-weight: 400;
    color: #418FDE;
    text-align: center;
    padding: 0px 20px;

  }

  .user_data_even{
    background-color:  #DCEAF9;
    min-height: 40px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:max-content
   
  }

  .user_data_even >p{
    margin: 0%;
    font-size: 14px;
    font-weight: 400;
    color: #418FDE;
    text-align: center;
    padding: 0px 20px;

  }

  .user_data_large{
    width: 225px;
  }

  .user_data_mid{
    width: 175px;
  }

  .user_data_small{
    width: 125px;
  }
  
  .user_data_xlarge{
    width: 275px;
  }

  .user_invisible{
    width: 100px;
  }

  .user_upload_invisible{
    width: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
  }

  .user_upload_invisible > p{
    margin: 0%;
    color: #418FDE;
    font-size: 16px;
    font-weight: 500;
  }

  .user_upload_invisible >img{
    cursor: pointer;
  }
  

  .user_edit_odd{
    background-color:  #F4F4F8;
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100%;
  }

  .user_edit_button{
    background-color: transparent;
    border: transparent;
    height: 100%;
    display: flex;
    padding: 0%;
    align-items: center;
  }

  .user_edit_button:focus{
    background-color: transparent;
    border: transparent;
    outline: transparent;
  }

  .user_edit_even{
    background-color:  #DCEAF9;
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100%;
  }

  .user_data_odd >input, .user_data_even >input{

    border: transparent;
    background-color: #96C0ED;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #F4F4F8;
    border-radius: 15px;
    padding: 10px 2px;
    
  }

  input:focus{
    outline: none;
  }

  input::-webkit-inner-spin-button, input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
  }